.FlightDeateils {
  width: 1200px;
  justify-self: center;
  padding: 20px;
  background: var(--bgWhite);
  box-shadow: var(--boxShadow);
  border-radius: 12px;
  display: grid;

  .FlightType {
    display: flex;
    gap: 20px;
    align-items: center;
    span {
      display: flex;
      align-items: center;
      padding: 0 0 5px 0;
      gap: 5px;
      cursor: pointer;
      border-bottom: 2px solid rgba(0, 0, 0, 0.1);
      font-size: 15px;
      i {
        opacity: 1;
        width: fit-content;
        height: fit-content;
      }
      &.active {
        border-bottom: 2px solid var(--goldDark);
      }
    }
  }
  .FlightAirport {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    a {
      text-decoration: none;
      color: var(--goldDark);
      &.active {
        color: var(--textGray);
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .Stats {
    padding-top: 20px;
    p {
      font-weight: bold;
    }
  }
}
.List,
.List2,
.List3 {
  background-color: var(--bgWhite);
  border-radius: 12px;
  box-shadow: var(--boxShadow);
  justify-self: center;
  width: 1200px;
  height: auto;
  position: relative;
  margin-bottom: 30px;
  .Form {
    display: grid;
    padding: 24px;
    gap: 25px;

    .Top {
      display: flex;
      font-size: var(--fontSize);
      color: var(--goldText);
      gap: 16px;
      input[type="radio"] {
        appearance: none;
        width: 16px;
        height: 16px;
        border: 2px solid #555;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.2s;
        width: 15px;
        margin: 5px 0 0 -10px;
        &:hover {
          border-color: #000;
          background-color: #e6b8005e;
          transition: 0.5s;
        }
        &:checked {
          background-color: var(--gold);
          border: 2px solid #555;
          transition: 0.8s;
        }
      }
      #tripTypeWrapper {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        display: none;
        transition: all 0.5s ease;
        display: flex;
        font-size: var(--fontSize);
        color: var(--goldText);
        gap: 16px;
      }

      #tripTypeWrapper.show {
        display: flex;
        opacity: 1;
        max-height: 50px;
      }
    }
    .Bottom {
      display: flex;
      font-size: var(--fontSize);
      justify-content: space-between;
      .LocationPicker {
        max-width: 375px;
        align-items: center;
        height: 50px;
        display: flex;
        select {
          background-color: var(--grayBg);
          height: 100%;
          width: 180px;
          border: none;
          border-radius: 8px;
          font-size: 15px;
          font-weight: bold;
          padding: 0 10px;
          color: var(--textGray);
          font-family: var(--Font);
          cursor: pointer;
          &:focus {
            outline: none;
            background-color: var(--grayBgHover);
            box-shadow: 0 0 10px var(--grayBgHover);
            color: var(--textDark);
            cursor: pointer;
          }
          &:hover {
            background-color: var(--grayBgHover);
            box-shadow: 0 0 10px var(--grayBgHover);
          }
        }
      }
      .DatePicker {
        width: 376px;
        align-items: center;
        height: 50px;
        display: flex;
        select {
          background-color: var(--grayBg);
          height: 100%;
          width: 188px;
          border: none;
          border-radius: 8px 0 0 8px;
          font-size: 15px;
          padding: 0 10px;
          color: var(--textGray);
          font-weight: bold;
          font-family: var(--Font);
          cursor: pointer;
          &:focus {
            outline: none;
            background-color: var(--grayBgHover);
            box-shadow: 0 0 10px var(--grayBgHover);
            color: var(--textDark);
            cursor: pointer;
          }
          &:hover {
            background-color: var(--grayBgHover);
            box-shadow: 0 0 10px var(--grayBgHover);
          }
          &:first-child {
            border-radius: 0 8px 8px 0;
          }
        }
      }
      .PaxPicker {
        width: 188px;
        align-items: center;
        height: 50px;
        display: flex;
        select {
          background-color: var(--grayBg);
          height: 100%;
          width: 180px;
          border: none;
          border-radius: 8px;
          font-size: 15px;
          padding: 0 10px;
          color: var(--textGray);
          cursor: pointer;
          font-weight: bold;
          font-family: var(--Font);
          &:focus {
            outline: none;
            background-color: var(--grayBgHover);
            box-shadow: 0 0 10px var(--grayBgHover);
            color: var(--textDark);
            cursor: pointer;
          }
          &:hover {
            background-color: var(--grayBgHover);
            box-shadow: 0 0 10px var(--grayBgHover);
          }
        }
      }
      .Submit {
        width: auto;
        align-items: center;
        height: auto;
        display: flex;
        button {
          width: 188px;
          height: 50px;
          border: none;
          background-color: var(--gold);
          border-radius: 8px;
          font-size: 18px;
          font-family: var(--Font);
          &:hover {
            background-color: var(--goldDark);
            box-shadow: 0 0 10px var(--gold);
          }
        }
      }
    }
    .BottomHotel {
      display: flex;
      font-size: var(--fontSize);
      justify-content: space-between;
      width: 100%;
      gap: 15px;
      .LocationPicker {
        width: 100%;
        align-items: center;
        height: 100%;
        display: flex;
        position: relative;
        input[type="Text"] {
          background-color: var(--grayBg);
          height: 100%;
          width: 100%;
          border: none;
          border-radius: 8px;
          font-size: 18px;
          padding: 0 10px;
          color: var(--textGray);
          font-family: var(--Font);
          cursor: pointer;
          &:focus {
            outline: none;
            background-color: var(--grayBgHover);
            box-shadow: 0 0 10px var(--grayBgHover);
            color: var(--textDark);
            cursor: text;
          }
          &:hover {
            background-color: var(--grayBgHover);
            box-shadow: 0 0 10px var(--grayBgHover);
          }
        }
      }
      .DatePicker {
        align-items: center;
        height: 50px;
        display: flex;
        gap: 5px;
        width: 100%;
        position: relative;
        input[type="Text"] {
          background-color: var(--grayBg);
          height: 100%;
          width: 70%;
          border: none;
          border-radius: 8px;
          font-size: 18px;
          padding: 0 10px;
          color: var(--textGray);
          font-family: var(--Font);
          cursor: pointer;
          &:focus {
            outline: none;
            background-color: var(--grayBgHover);
            box-shadow: 0 0 10px var(--grayBgHover);
            color: var(--textDark);
            cursor: text;
          }
          &:hover {
            background-color: var(--grayBgHover);
            box-shadow: 0 0 10px var(--grayBgHover);
          }
        }
      }

      .Submit {
        width: auto;
        align-items: center;
        height: auto;
        display: flex;
        button {
          width: 188px;
          height: 50px;
          border: none;
          background-color: var(--gold);
          border-radius: 8px;
          cursor: pointer;
          font-size: 18px;
          font-family: var(--Font);
          &:hover {
            background-color: var(--goldDark);
            box-shadow: 0 0 10px var(--gold);
          }
        }
      }
      .Guests {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;

        button {
          background-color: var(--grayBg);
          height: 100%;
          width: 100%;
          border: none;
          border-radius: 8px;
          font-size: 18px;
          padding: 0 10px;
          color: var(--textDark);
          font-family: var(--Font);
          cursor: pointer;

          &:hover {
            background-color: var(--grayBgHover);
            box-shadow: 0 0 10px var(--grayBgHover);
          }
        }

        .GuestDropdown {
          position: absolute;
          top: 60px;
          right: 0;
          width: 100%;
          background: var(--bgWhite);
          border-radius: 10px;
          padding: 15px;
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
          z-index: 10;
          transition: 0.3s;
          .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 12px;
            .Namee {
              width: 70%;
            }
            span {
              font-size: 16px;
            }

            button {
              width: 35px;
              height: 35px;
              border-radius: 6px;
              background: var(--gold);
              border: none;
              font-size: 18px;
              cursor: pointer;

              &:hover {
                background: var(--goldDark);
              }
            }
          }
          .AdultAndChildCount {
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          .GuestError {
            color: red;
            font-size: 13px;
            margin-top: 5px;
            display: none;
          }
        }
      }
    }
  }
}

.List3 {
  width: 100%;
  padding: 0 345px;
  .AirportChooser {
    display: flex;
    gap: 20px;
    width: 100%;
    margin-left: 20px;
  }
  select {
    background-color: var(--grayBg);
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    color: var(--textGray);
    font-family: var(--Font);
    cursor: pointer;
    &:focus {
      outline: none;
      background-color: var(--grayBgHover);
      box-shadow: 0 0 10px var(--grayBgHover);
      color: var(--textDark);
      cursor: text;
    }
    &:hover {
      background-color: var(--grayBgHover);
      box-shadow: 0 0 10px var(--grayBgHover);
    }
  }
  input[type="Search"] {
    background-color: var(--grayBg);
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    padding: 0 10px;
    color: var(--textGray);
    font-family: var(--Font);
    cursor: pointer;
    &:focus {
      outline: none;
      background-color: var(--grayBgHover);
      box-shadow: 0 0 10px var(--grayBgHover);
      color: var(--textDark);
      cursor: text;
    }
    &:hover {
      background-color: var(--grayBgHover);
      box-shadow: 0 0 10px var(--grayBgHover);
    }
  }
}
